# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env*.example
# .env
# .env*

# Code coverage
coverage
